/*Responsive*/

@media all and (min-width : 1300px) {


    .photo-activite1-1,
    .photo-activite4-4 {
        width: 301px;
        height: 390px;
    }

    .photo-activite2-2 {
        width: 304px;
        height: 183px;
    }

    .photo-activite3-3 {
        width: 304px;
        height: 112px;
    }

    .photo-activite5-5 {
        width: 304px;
        height: 141px;
    }

    .photo-activite6-6 {
        width: 304px;
        height: 155px;
    }
}

@media all and (max-width : 1360px) {

    header,
    .header-2,
    #filtres-section {
        margin-left: 15px;
    }
}


@media all and (max-width : 1315px) {

    #hebergements-a-marseille {
        margin-bottom: 50px;
    }

    .hebergement-les-plus-populaires {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #container-hebergements-populaires {
        max-width: 805px;
    }

    .photo-activite1-1 {
        width: 301px;
        height: 390px;
    }

    .photo-activite4-4 {
        width: 304px;
        height: 391px;
    }

    #Activités-à-Marseille {
        margin-left: 45px;
    }

}

@media all and (max-width : 1330px) {

    .photo-activite1-1,
    .photo-activite2-2,
    .photo-activite3-3,
    .photo-activite4-4,
    .photo-activite5-5,
    .photo-activite6-6 {
        width: 309px;
        height: 112px;
    }

    .activite-1,
    .activite-2,
    .activite-3,
    .activite-4,
    .activite-5,
    .activite-6 {
        width: 309px;
        height: 182px;
        margin-right: 20px;
    }

    .activite2et3,
    .activite5et6 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .activites {
        display: flex;
        justify-content: flex-start;
    }
}