*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

p {
    font-size: small;
}

h1 {
    font-size: large;
}

h3 {
    font-weight: bold;
}

/** Taille Logo **/

.headerlogoImg {
    padding: 0rem;
    height: 2.9rem;
}

/** Header **/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}

header nav {
    display: flex;
    align-items: center;
}

/** Mise en page Barre Navigation **/

.headernavlink {
    padding-top: 30px;
    padding-bottom: 20px;
}

nav a {
    font-size: 1.2em;
    color: black;
    padding-top: 3px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
    font-style: normal;
}

a:hover {
    text-decoration: #0065FC;
    color: #0065FC;
}

header nav a {
    margin-left: 20px;
}

.hebergements-activites a:hover {
    border-top: 3px solid #0065FC;
    transition-duration: 0.1s;
}

.signup a:hover {
    border-bottom: 3px solid #0065FC;
    transition-duration: 0.1s;
}

.headersignup {
    color: #0065FC;
    font-weight: bold;
    margin-right: 10px;
}

/** Titre et sous titre **/

.hearder_2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.header_2 h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.header_2 p {
    font-size: 1.1rem;
    font-weight: normal;
}

.titre_principal {
    display: flex;
    flex-direction: column;
}

.header_titre-principal {
    margin-bottom: 14px;
}

/** Barre de Recherche **/

.fas {
    color: #0065fc;
}

.gps-logo {
    position: relative;
    height: 40px;
    background-color: #F2F2F2;
    width: 54px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.fa-map-marker-alt {
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-section {
    display: flex;
    height: 40px;
    margin-top: 15px;
}

.search-bar {
    display: flex;
    justify-content: flex-start;
}

.rechercher {
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 30%;
    height: 40px;
    border: none;
    color: white;
    outline: none;
    font-weight: bold;
}
/** Animation rechercher **/
 
    .rechercher:hover {
        color: white;
        text-decoration: underline;
    }
    
    .rechercher_loupe {
        display: none;
    }

/** Filtres **/

#filtres-section {
    display: flex;
    align-items: center;
    padding: 1px;
}

.filtre_bouton {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 1px;
    flex-wrap: wrap;
}

    /** Rond Icones Filtres **/

.filtres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

    .circle-icon-filter {
    width: 50px;
    height: 50px;
    background-color: #deebff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2px;
    left: 1px;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    color: #0065FC;
    font-size: 1.5em;
}

    /** rond filtres **/

.filtres p {
    height: 50px;
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    padding: 0px 25px 0px 65px;
    border-radius: 25px;
    font-weight: bold;
}

    /** animation filtres **/
.filtres p:hover {      
    background: #DEEBFF;
    transition: .30s;
    }

.titre_filtres p {
    font-size: medium;
    font-weight: bold;
}

h3 {
    font-size: small;
    font-style: italic;
    font-weight: normal;
}

.nombre_logements {
    margin: 0px 0px 35px 0px;
}

.filtre_bouton:hover {
    display: flex;
    text-decoration: underline;
    color: #0065FC;
}

.fas.fa-info-circle {
    color: #0065FC;
}

.filtre_bouton {
    margin: 15px;
}